input {
    keyboard {
        numlock
    }
}

layout {
    default-column-width { proportion 0.5 }
}

spawn-at-startup "waybar"

binds {
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty" }
}
